/* ====== Headings ====== */
/* @TODO remove repeated - is this good or bad */
/* @TODO text sizing in IE is bigger than it is in other browsers ie8 ok ie7 & ie6 bigger text.  Is this because of my use of em. Am sure em can work in IE7&IE6 or am I wrong - also am sure em's are better again I may be wrong. Don't have a source that based this info on (test vr with % in place of em's)*/
/* @TODO vr issues affect ie8 more than ie7 what about ie6? */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {	margin: 0;	font-weight:normal;  	}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h6, .h6 {	font-weight:normal;  	}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {	font-style: normal;	}

h1, .h1 {	font-size: 1.6677em;	line-height: 0.9em;	margin-bottom: 0.9em;	}
h2, .h2 {	font-size: 1.5em;		line-height: 1em;	margin-bottom: 1em;		}
h3, .h3 {	font-size: 1.3333em;	line-height: 1.125em;	margin-bottom: 1.125em;}
h4, .h4 {	font-size: 1.1666em;	line-height: 1.2857em;	margin-bottom: 1.2857em;	}
h5, .h5,
h6, .h6 {	font-size: 1.1667em;	line-height: 1.2858em;	margin-bottom: 1.2857em;	}

h1, .h1{color:#234236;}
h2, .h2{color:#234236;}
h3, .h3{color:#484488;}
h4, .h4{color: #555;}
h5, .h5{font-weight:bold; color:#234236;}
h6, .h6{font-style: italic; color:#555;}